html{
    background-color: #d5e1ef;
    font-family: "Outfit", sans-serif;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: auto;
}

section{
    margin: auto;
    width: 100vw;
}

.qr-panel{
    background-color: white;
    padding: 15px;
    width: 250px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 1px #dbdbdb;
}

.qr-panel img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.qr-panel .qr-text{
    padding: auto 20px auto 20px;
}

.qr-panel .qr-text h2{
    font-size: 20px;
    font-weight: 700;
}

.qr-panel .qr-text p{
    font-size: 13px;
    font-weight: 400;
    color: #a09e9e;
    margin: auto 20px 20px 20px;
}

.attribution{
    margin-top: 50px;
    font-size: 12px;
}